.bg-honda-cbr{
    background-color: #264653;
}
.modal-button{
    background-color: #E76F51;
}
.gray{   
    filter: grayscale(100%);
}
.orange-text{
    color: #E76F51;
}

.fa-star{
    color:#E77C40;
}